@model WebLandingTemplateDomainModel.Models.SupplierDto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SupplierDto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        @{
            if (Model.Logo != null)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Logo)
                </dt>

                <dd>
                    <img src="@Url.Action("getImage","Supplier", new { id=Model.ProveedorId})" />
                </dd>

            }
        }


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProveedorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
