@model WebLandingTemplate.Models.SupplierVM
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="portlet-box portlet-gutter ui-buttons-col mb-30">
    <div class="portlet-header flex-row flex d-flex align-items-center b-b">
    <div class="flex d-flex flex-column">
        <h3>Detalles</h3>
        <span class="portlet-subtitle">Proveedores</span>

    </div>
</div>
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        @{
            if (Model.Logo != null)
            {
                <dt>
                    Logo
                </dt>

                <dd>
                    <img width="400" src="@Url.Action("getImage","Supplier", new { id=Model.ProveedorId})" />
                </dd>

            }
        }


    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ProveedorId }) |
    @Html.ActionLink("Volver a lista", "Index")
</p>
