<div class="pt90 pb50 container">
    <div class="title-heading1 mb40">
        <h3>core features of assan</h3>
    </div>
    <div class="row">
        <div class="col-lg-4 mb40">
            <div class="media icon-simple">
                <div class="d-flex mr-3">
                    <i class="icon-linegraph fa-3x text-primary"></i>
                </div>
                <div class="media-body">
                    <h4 class="mt-0 mb10">Reusable elements</h4>
                    Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>
        </div><!--/col-->
        <div class="col-lg-4 mb40">
            <div class="media icon-simple">
                <div class="d-flex mr-3">
                    <i class="icon-phone fa-3x text-primary"></i>
                </div>
                <div class="media-body">
                    <h4 class="mt-0 mb10">Mobile friendly</h4>
                    Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>
        </div><!--/col-->
        <div class="col-lg-4 mb40">
            <div class="media icon-simple">
                <div class="d-flex mr-3">
                    <i class="icon-twitter fa-3x text-primary"></i>
                </div>
                <div class="media-body">
                    <h4 class="mt-0 mb10">Bootstrap 4 </h4>
                    Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>
        </div><!--/col-->
    </div>
    <div class="row">
        <div class="col-lg-4 mb40">
            <div class="media icon-simple">
                <div class="d-flex mr-3">
                    <i class="icon-lightbulb fa-3x text-primary"></i>
                </div>
                <div class="media-body">
                    <h4 class="mt-0 mb10">Modern Layouts</h4>
                    Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>
        </div><!--/col-->
        <div class="col-lg-4 mb40">
            <div class="media icon-simple">
                <div class="d-flex mr-3">
                    <i class="icon-edit fa-3x text-primary"></i>
                </div>
                <div class="media-body">
                    <h4 class="mt-0 mb10">Well Coded</h4>
                    Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>
        </div><!--/col-->
        <div class="col-lg-4 mb40">
            <div class="media icon-simple">
                <div class="d-flex mr-3">
                    <i class="icon-gift fa-3x text-primary"></i>
                </div>
                <div class="media-body">
                    <h4 class="mt-0 mb10">24+ Templates</h4>
                    Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
            </div>
        </div><!--/col-->
    </div>

</div>


@*@model WebLandingTemplate.Models.EnterpriseInfoVM

<div>
    <h4>EnterpriseInfoVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SocialMedia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SocialMedia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valores)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valores)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailOptional1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailOptional1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailOptional2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailOptional2)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
