@model WebLandingTemplate.Models.FrontDashboardVM

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FrontDashboardVM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ElementName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElementName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElementId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElementId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemImageId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
