@model WebLandingTemplate.Models.ContactMessageVM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <div class="page-wrapper" id="page-wrapper">
        <main class="content">
            <div class="page-content d-flex flex pl-0 pr-0">
                <div class="flex d-flex bg-white b-l sidebar-body" id="chat-content">
                    <div class="d-flex flex flex-column">
                        <div class="navbar bg-white b-b">
                            <div class="d-flex">
                                <div class="d-inline-flex h-md-up flex align-self-center">
                                    <button type="button" data-toggle="dropdown" data-target="#mail-sidebar" class="btn btn-gradient-danger mr-1 h-md-up rounded btn-sm">
                                        <i class="fa fa-align-left"></i>
                                    </button>
                                </div>
                                <div class=" mr-2 btn-group dropdown">
                                    <a href="@Url.Action("index","ContactMessage")" data-toggle="tooltip" data-placement="bottom" title="Back" class="btn btn-outline-light text-secondary btn-sm">
                                        <i class="fa fa-reply"></i>
                                    </a>
                                    <button type="button" data-toggle="tooltip" data-placement="bottom" title="Delete" class="btn btn-outline-light text-secondary btn-sm" id="sa-params">
                                        @*href="@Url.Action("Delete", "ContactMessage", new { id = Model.MessageId })"*@
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                    @Html.Hidden("RedirectTo", Url.Action("Eliminar", "ContactMessage", new { id = Model.MessageId }))
                                </div>
                            </div>
                            
                        </div>
                        <div class="flex slim-scroll">
                            <div class="p-4">
                                <div>
                                    <h4 class="">@Html.DisplayFor(model => model.Subject)</h4>
                                    @Html.HiddenFor(model => model.MessageId , new { Value = Model.MessageId  })
                                    <div class="py-3 b-t">
                                        <img class="avatar50 mr-3" src="~/Html-adminDashboard/images/avatar1.png" alt=".">
                                        <a href="#">@Html.DisplayFor(model => model.Email)</a>
                                        <span class="float-right text-md-right text-muted"><i class="fa fa-phone"></i> @Html.DisplayFor(model => model.Phone)</span><br />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p class="text-xs text-muted"> Fecha de mensaje: @Html.DisplayFor(model => model.ContactDate)</p>
                                    </div>
                                    <div class="pt-1">
                                        <p>
                                           @Html.DisplayFor(model => model.Message)
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- content-->
                    </div>
                </div>
            </div>
        </main><!-- page content end-->
    </div><!-- app's main wrapper end -->
    <!-- Sweetalerts2 js -->
    @*<script type="text/javascript" src="~/Html-adminDashboard/lib/sweet-alerts2/sweetalert2.min.js"></script>
    <script src="~/Html-adminDashboard/js/plugins-custom/sweetalert2-custom.js"></script>*@
    <!-- Common plugins -->
    @*<script type="text/javascript" src="js/plugins/plugins.js"></script>
    <script type="text/javascript" src="js/appUi-custom.js"></script>
    <script type="text/javascript" src="lib/summernote/summernote-bs4.min.js"></script>
    <script type="text/javascript" src="js/plugins-custom/summernote-custom.js"></script>*@
    <script>
            $('.check-allmail').click(function () {
                if ($(this).is(':checked')) {
                    $('input:checkbox').attr('checked', true);
                } else {
                    $('input:checkbox').attr('checked', false);
                }
            });
    </script>
</body>
</html>
