@using Microsoft.AspNet.Identity
@{
    var message1 = "Hola,";
    var message2 = "Bienvenido ";
    var userName = "";

}
@if (Request.IsAuthenticated)
            {
                userName = User.Identity.GetUserName();
                message1 += userName;
}
    <header class="navbar page-header darkHeader navbar-expand-lg mb-20">

        <ul class="nav flex-row mr-auto">
            <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link sidenav-btn h-lg-down">
                    <span class="navbar-toggler-icon"></span>
                </a>
                <a class="nav-link sidenav-btn h-lg-up" href="#page-aside" data-toggle="dropdown" data-target="#page-aside">
                    <span class="navbar-toggler-icon"></span>
                </a>
            </li>
        </ul>
        <ul class="nav flex-row order-lg-2 ml-auto nav-icons">
            @*------------------------------------------------------------------------------------------    Lista de Mensajes     ------------------------------------------------------------------------------------------     *@
            
            <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="dropdown-notify" data-toggle="dropdown">
                    <i class="icon-Envelope"></i>
                    @if (ViewBag.Inbox != null)
                    {
                        <span class="badge badge-primary d-block text-white">@ViewBag.Inbox.Count</span>

                    }
                    else
                    {
                        <span class="badge badge-primary d-block text-white">0</span>
                    }
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right no-padding" aria-labelledby="dropdown-notify">
                    <div class="dropdown-header-top flex d-flex align-items-center">
                        <span class="d-flex flex text-dark dropdown-title">Notifications</span>
                        <a class="d-flex d-inline-flex text-primary">
                            <i class="fas fa-check fs10 mr-2 d-flex d-inline-flex align-self-center"></i>
                            Mark all as read
                        </a>
                    </div>
                    <div style="height: auto">
                        <div class="slim-scroll">
                            <ul class="list">
                                
                                @*<li class="list-item align-items-center unread">
                                    <a href="#" class="list-link"></a>
                                    <div class="list-thumb avatar avatar50 bg-info text-white rounded-circle">
                                        <i class="icon-Twitter"></i>
                                    </div>
                                    <div class="list-body">
                                        <span class="list-title">
                                            New Followers
                                        </span>
                                        <span class="list-content">
                                            6 New Followers
                                        </span>
                                        <span class="list-meta">
                                            3 Hours ago
                                        </span>
                                    </div>
                                </li><!--item-->
                                <li class="list-item align-items-center unread">
                                    <a href="#" class="list-link"></a>
                                    <div class="list-thumb avatar avatar50 bg-warning text-white rounded-circle">
                                        <i class="icon-Ticket"></i>
                                    </div>
                                    <div class="list-body">
                                        <span class="list-title">
                                            New Support Ticket
                                        </span>
                                        <span class="list-content">
                                            Adam need some helps
                                        </span>
                                        <span class="list-meta">
                                            5 Hours ago
                                        </span>
                                    </div>
                                </li><!--item-->
                                <li class="list-item align-items-center">
                                    <a href="#" class="list-link"></a>
                                    <div class="list-thumb avatar avatar50 bg-teal text-white rounded-circle">
                                        <i class="icon-Paypal"></i>
                                    </div>
                                    <div class="list-body">
                                        <span class="list-title">
                                            Payment Sent
                                        </span>
                                        <span class="list-content">
                                            You have sent $200 to Joseph
                                        </span>
                                        <span class="list-meta">
                                            18 Hours ago
                                        </span>
                                    </div>
                                </li><!--item-->
                                <li class="list-item align-items-center">
                                    <a href="#" class="list-link"></a>
                                    <div class="list-thumb avatar avatar50 bg-danger text-white rounded-circle">
                                        <i class="icon-Envelope"></i>
                                    </div>
                                    <div class="list-body">
                                        <span class="list-title">
                                            Email Confirmation
                                        </span>
                                        <span class="list-content">
                                            Confirm your email to complete sign up
                                        </span>
                                        <span class="list-meta">
                                            Yesterday
                                        </span>
                                    </div>
                                </li><!--item-->*@

                                <!------------------------- THE NEW MESSAGES ---------------------------->
                                @if (ViewBag.Inbox != null)
                                {
                                    foreach (var neomsj in ViewBag.Inbox)
                                    {
                                        if (neomsj.IsRead == false)
                                        {
                                            <li class="list-item align-items-center">
                                                <a href="#" class="list-link"></a>
                                                <div class="list-thumb avatar avatar50 bg-danger text-white rounded-circle">
                                                    <i class="icon-Envelope"></i>
                                                </div>
                                                <div class="list-body">
                                                    <span class="list-title">
                                                        @neomsj.Subject
                                                    </span>
                                                    <span class="list-content">
                                                        @neomsj.Message
                                                    </span>
                                                    <span class="list-meta">
                                                        @neomsj.ContactDate
                                                    </span>
                                                </div>
                                            </li><!--item-->
                                        }
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    <a  href="/ContactMessage/Index" class="dropdown-footer">Ver todos los Mensajes</a>
                    
                </div>
            </li>
            @*------------------------------------------------------------------------------------------   End Lista de Mensajes     ------------------------------------------------------------------------------------------     *@
           
            <li class="nav-item dropdown user-dropdown align-items-center">
                <a class="nav-link" href="#" id="dropdown-user" role="button" data-toggle="dropdown">
                    <span class="user-states states-online">
                        <img src="~/Html-adminDashboard/images/avatar6.png" width="35" alt="" class=" img-fluid rounded-circle">
                    </span>
                    
                    <span class="ml-2 h-lg-down dropdown-toggle">
                        @message1
                    </span>
                </a>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "dropdown-menu dropdown-menu-right"}))
                {
                @Html.AntiForgeryToken()
                <div class="text-center p-3 pt-0 b-b mb-5">
                    <span class="mb-0 d-block font300 text-title fs-1x">Hola! <span class="font700">Administrador</span></span>
                    @*<span class="fs12 mb-0 text-muted"></span>*@
                </div>
                <a class="dropdown-item" href="/Manage/"><i class="icon-User"></i>My Profile</a>
                
                <a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><i class="icon-Power"></i> logout</a>
               
                }
            </li>
        </ul>
        <div class="nav-link" id="navbarToggler">
            <ol class="breadcrumb no-padding bg-trans mb-0">
                <li class="breadcrumb-item"><a href="/Admin/Index"><i class="icon-Management mr-2 fs14"></i>ADMIN</a></li>
                <li class="breadcrumb-item"><a href="/Home/Index"><i class="icon-Home mr-2 fs14"></i>BESMI HOME</a></li>

            </ol>
        </div>
       

    </header>

