
<html lang="en">
<head>
    @RenderSection("head", required: false)

    <!--@Styles.Render("~/Content/css")
     Default JS FILES@Scripts.Render("~/bundles/modernizr")-->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <!-- Bootstrap-->
    <link href="~/Html-adminDashboard/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--Common Plugins CSS -->
    <link href="~/Html-adminDashboard/css/plugins/plugins.css" rel="stylesheet">
    <!--fonts-->
    <link href="~/Html-adminDashboard/lib/line-icons/line-icons.css" rel="stylesheet">
    <link href="~/Html-adminDashboard/lib/font-awesome/css/fontawesome-all.min.css" rel="stylesheet">
    <link href="~/Html-adminDashboard/lib/dt-picker/jquery.datetimepicker.min.css" rel="stylesheet">
    <link href="~/Html-adminDashboard/lib/select2/dist/css/select2.min.css" rel="stylesheet">
    <link href="~/Html-adminDashboard/lib/chartist/chartist.min.css" rel="stylesheet" />
    <link href="~/Html-adminDashboard/css/chartist-custom.css" rel="stylesheet" />
    <link href="~/Html-adminDashboard/css/picker-custom.css" rel="stylesheet" />
    <link href="~/Html-adminDashboard/css/select2-custom.css" rel="stylesheet">

    <link href="~/Html-adminDashboard/lib/summernote/summernote-bs4.css" rel="stylesheet">

    <link href="~/Html-adminDashboard/lib/sweet-alerts2/sweetalert2.min.css" rel="stylesheet">
    <link href="~/Html-adminDashboard/css/sweet-alert-custom.css" rel="stylesheet">

    <link href="~/Html-adminDashboard/css/style.css" rel="stylesheet">

    

</head>
<body class="bg-white">

    @Scripts.Render("~/bundles/jquery")
    <div class="page-wrapper" id="page-wrapper">
        <aside id="page-aside" class=" page-aside">
            @Html.Partial("_Admin_leftNavMenu")
        </aside><!-- page-aside end-->
        <main class="content">
            @Html.Partial("_AdminLoginPartial")
            <div class="page-content">
                @RenderBody()
            </div>
        </main><!-- page content end-->
    </div><!-- app's main wrapper end -->
    @Html.Partial("_Modal")
    <!-- Common plugins-->
    <script type="text/javascript" src="~/Html-adminDashboard/js/plugins/plugins.js"></script>
    <script type="text/javascript" src="~/Html-adminDashboard/js/appUi-custom.js"></script>

    <script src="~/Html/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/Html/js/plugins-custom/form.validate.custom.js"></script>

    <script src="~/Html-adminDashboard/lib/chartist/chartist.min.js"></script>
    <script src="~/Html-adminDashboard/lib/chartist/chartist-tooltip.js"></script>
    <script type="text/javascript" src="~/Html-adminDashboard/lib/peity/jquery.peity.min.js"></script>
    <script type="text/javascript" src="~/Html-adminDashboard/lib/dt-picker/jquery.datetimepicker.full.min.js"></script>
    <script src="~/Html-adminDashboard/lib/select2/dist/js/select2.min.js"></script>
    <script type="text/javascript" src="~/Html-adminDashboard/js/dashboard02-custom.js"></script>


    <script type="text/javascript" src="~/Html-adminDashboard/lib/summernote/summernote-bs4.min.js"></script>
    <script type="text/javascript" src="~/Html-adminDashboard/js/plugins-custom/summernote-custom.js"></script>
    <script src="~/Html-adminDashboard/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>

    <!-- Sweetalerts2 js -->
    <script type="text/javascript" src="~/Html-adminDashboard/lib/sweet-alerts2/sweetalert2.min.js"></script>
    <script src="~/Html-adminDashboard/js/plugins-custom/sweetalert2-custom.js"></script>

    @RenderSection("scripts", required: false)

   

</body>
</html>
