@model PagedList.IPagedList<WebLandingTemplate.Models.CategoryVM>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    ViewBag.Type = "Categorías";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!---<h2>Consultar</h2>-->

<div class="bg-white table-responsive rounded shadow-sm pt-3 pb-3 mb-30">
    <h6 class="pl-3 pr-3 text-capitalize font400 mb-20">@ViewBag.Type</h6>
    <div id="data-table_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
        <div class="row">
            <div class="col-sm-12">
                <div class="button">
                    <button class="btn btn-icon btn-danger "><i class="far fa-edit"></i>  @Html.ActionLink(" Nueva Categoria", "Create", "Category", null, new { @class = "modal-link" })</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="dataTables_length" id="data-table_length">
                    <label>
                    Mostrar
                    @Html.DropDownList("Rows", ViewBag.dropdownsrc as SelectList, new { id = "RowNumber", @class = "RowNumber form-control form-control-sm" })
                    entries</label>
                </div>
            </div>
            @using (Html.BeginForm("Index", "Category", FormMethod.Post))
            {
                <div class="col-sm-12 col-md-12">
                    <div id="data-table_filter" class="dataTables_filter"><input type="search" name="searchString" id="searchInput" data-search="searchString" class="form-control form-control-sm" placeholder="Búscar..." aria-controls="data-table"></div> 
                </div>
            }

        </div>

        <div class="row">
            <div class="col-sm-12">
                <table id="data-table" class="table mb-0 table-striped dataTable no-footer dtr-inline" cellspacing="0" width="100%" role="grid" aria-describedby="data-table_info" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th class="sorting_asc" tabindex="0" aria-controls="data-table" rowspan="1" colspan="1" style="width: 147px;" aria-sort="ascending" aria-label="First name: activate to sort column descending">Nombre</th>
                            <th class="sorting" tabindex="0" aria-controls="data-table" rowspan="1" colspan="1" style="width: 143px;" aria-label="Last name: activate to sort column ascending">Item Code Type</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr role="row" class="odd">
                                <td tabindex="0" class="sorting_1">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td tabindex="0" class="sorting_1">
                                    @Html.DisplayFor(modelItem => item.ItemCodeType)
                                </td>
                                <td>
                                    <div class="btn-group-sm btn-group-rounded pt-20">
                                        <button class="btn btn-icon btn-sm btn-danger "><i class="icon-Eye-Scan"></i> @Html.ActionLink(" Detalles", "Details", "Category", new { id = item.CategoryId }, new { @class = "modal-link ", title = "Detalles" })</button>
                                        <button class="btn btn-icon btn-sm btn-danger "><i class="icon-Open-Book"></i> @Html.ActionLink(" Editar", "Edit", "Category", new { id = item.CategoryId }, new { @class = "modal-link", title = "Editar" }) </button>
                                        @*<button class="btn btn-icon btn-sm btn-danger "><i class="icon-Delete-File"></i> @Html.ActionLink(" Eliminar", "Delete", "Category", new { id = item.CategoryId }, new { @class = "modal-link", title = "Eliminar" })</button>*@
                                        <button class="btn btn-icon btn-sm btn-danger " onclick="BorrarItem(@item.CategoryId )"><i class="icon-Delete-File"></i> Eliminar</button>
                                        
                                    </div>
                                    @*<button type="button" data-toggle="tooltip" data-placement="bottom" title="Delete" class="btn btn-outline-light text-secondary btn-sm" >
                                        <i class="far fa-trash-alt"></i>
                                    </button>*@
                                    @*@Html.ActionLink(" ", "DetailsModal", "Category", new { id = item.CategoryId }, new { @class = "modal-link switch-disable fa fa-sun", title = "Detalles de Categoria" }) |
                                    @Html.ActionLink(" ", "Details", "Category", new { id = item.CategoryId }, new { @class = "btn-sm btn-primary btn-circle fa fa-eye modal-link", title = "Detalles" }) |
                                    @Html.ActionLink(" ", "Edit", "Category",    new { id = item.CategoryId }, new { @class = "btn-sm btn-warning btn-circle fa fa-edit modal-link", title = "Editar" }) |
                                    @Html.ActionLink(" ", "Delete", "Category",  new { id = item.CategoryId }, new { @class = "btn-sm btn-danger btn-circle fa fa-trash modal-link", title = "Eliminar" })*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

            <!---<div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="data-table_info" role="status" aria-live="polite"></div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="data-table_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="data-table_previous"><a href="#" aria-controls="data-table" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="data-table" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item next disabled" id="data-table_next"><a href="#" aria-controls="data-table" data-dt-idx="2" tabindex="0" class="page-link">Next</a></li></ul></div></div>-->
            </div>
        </div>
    </div>

<script type="text/javascript">

    $('#RowNumber').on('change', function (e) {
        e.preventDefault();
        console.log("Le diste click ");
        console.log('You selected: ', this.value);
        $('#RowNumber').val(this.value);
        $.ajax({
            url: '/category/Index',
            type: 'POST',
            contentType: 'application/json;',
            data: JSON.stringify({ page: null, searchString: "", pageSize: this.value }),
            success: function (data) {
                document.open();
                document.write(data);
                document.close();
            }
        });

    });

    function BorrarItem(CategoryId) {
        swal({
            title: 'Estas Seguro?',
            text: "No Es Posible Revertir",
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Si, Borrar',
            cancelButtonText: 'No, Cancel!',
            confirmButtonClass: 'btn btn-success mt-2',
            cancelButtonClass: 'btn btn-danger ml-2 mt-2',
            buttonsStyling: false
        }).then(function () {
            $.ajax({
                async: false,
                type: 'POST',
                url: '/Category/Eliminar/',
                data: { id: CategoryId },
                //dataType: "json",
                //contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data === 'True') {
                        swal({
                            title: 'Eliminado!',
                            text: "El Elemento ha sido Eliminado",
                            type: 'success',
                            confirmButtonClass: 'btn btn-confirm mt-2'
                        }).then(function () {
                            window.location = "/Category/Index";
                        });
                    }
                    else
                    {
                        swal({
                            title: 'Error',
                            text: "Algo Inesperado sucedio, No se Elimino el registro",
                            type: 'error',
                            confirmButtonClass: 'btn btn-confirm mt-2'
                        })
                    }
                },
                error: function (xhr, type, exception) {
                    swal({
                        title: 'Error',
                        text: "ajax error response type " + type + ' \nException: ' + exception + ' \nXhr: ' + xhr,
                        type: 'error',
                        confirmButtonClass: 'btn btn-confirm mt-2'
                    })
                    // if ajax fails display error alert
                    console.log('Mierda no jalo X.X ' + exception + xhr);
                }
            });
            //.then(function () {

            //    //------------------------------------------ Same Logic as Ajax Call without POST Type
            //    //var url = '/ContactMessage/Eliminar/' + $('#MessageId').val();
            //    //window.location.href = url;
            //    //------------------------------------------ Same Logic as Ajax Call without POST Type
            //    //var url = $("#RedirectTo").val();
            //    //location.href = url;
            //});  
        }, function (dismiss) {
            // dismiss can be 'cancel', 'overlay',
            // 'close', and 'timer'
            if (dismiss === 'cancel') {
                swal({
                    title: 'Cancelado',
                    text: "El Elemento Queda Intacto",
                    type: 'error',
                    confirmButtonClass: 'btn btn-confirm mt-2'
                })
            }
        });
    }

   

</script>


